<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            display: flex;
            flex-direction: row;
            height: 200px;
            width: 200px;
            gap: 10px;
            background-color: blue;
        }
        .box div{
            display: block;
            height: 50px;
            width: 50px;
            background-color:{{color}};
        }
    </style>
</head>
<body>
    <div class="box">
        {% for x in range(0,times) %}
        <div></div>
        {% endfor %}
    </div>
</body>
</html>