@charset "ISO-8859-1";
.center-container {
		margin-top : 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }
.content {
        width: 100%;
        max-width: 800px;
    }
    
.content2{
	        width: 60%;
        max-width: 600px;
}

.laber{
	width: 40vw;
	text-align: Start;
}

.input{
	max-width: 75%;
}

.para{
	display: flex;
	justify-content: space-between;
	
}