.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.nav-title {
    background-color: black;
    color: white;
    font-family: cursive;
    text-align: left;
    margin-right: 10px; /* Add some margin for spacing */
}

.nav-links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-links a {
    text-decoration: none; /* Remove underline from links */
    color: 
    margin-right: 10px; /* Add some margin for spacing */
}

.btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
