body{
font-family: 'Roboto' , sans-serif;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(51, 50, 48);
    padding: 0 1%;
}

.nav-title {
    background-color: rgb(51, 50, 48);
    color: white;
    font-family: cursive;
    text-align: left;
    margin-right: 10px;
}    
.nav-links {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    font-family: cursive;
}
a{
    color:white;
    text-decoration: none;
}

.btn {
    background-color:rgb(51, 96, 165);
    color:black;
    border: 1px black;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 3px 3px 2px 1px;
    font-weight: bold;

}
.active{
    font-weight: bold;
}
.img1{
    width: 100px;
    position: relative;
    top:60px;
    left:60px; 
    border-style: ridge;
    border-color: white;
    border-radius: 60%;
}
.img2{
    width: 10px;
}
.class_img{
    display: flex;
    align-items: center;
    margin: 0px 0px 1px 80px;
}
.img3{
    width: 15px;
}
.carte{
    width: 600px;
    margin-left: 200PX ;
    font-family: cursive;
    margin-top: 100px;
    
}
.carte_head{
    background-color: rgb(51, 96, 165);
}
.carte_body{
    padding-top: 30px;
    border-style: ridge;
    border-color: black;
}
h2{
    margin: 20px 10px 1px 60px;
}
.h41{
    margin: 0px 0px 1px 60px;
}
h4{
    margin: 0px 0px 1px 60px; 
}
.img3_a{
    margin: 20px 10px 1px 60px;
}
.head1{
    width: 300px;
    margin-left: 820PX ;
    font-family: cursive;
    margin-top: -383px;
}
.photo1{
    width:40px;
    border-radius: 60%;
}
.h42{
    font-weight: bold;
}
.icons{
    width: 30px;
    left: 65px;
    position: relative;
}
.carte_head1{
    background-color:rgb(51, 50, 48) ;
    padding: 15px;
}
.carte_body1{
    text-align: left;
    border-style: ridge;
    border-color: black;
    display:block;
}
.class_photo1{
    display: flex;
    margin:25px 0px 15px 0px ;
}
.class_photo2{
    display: flex;
    margin:0px 0px 15px 0px ;
}
.icons1{
    width: 30px;
    left: 75px;
    position: relative;
}
.h44{
    color: white;
}
.edication{
    background-color: rgb(51, 50, 48);
    color: white;
    padding: 10px;
    border-style: ridge;
    border-color: black;
    width: 550px;
    position: absolute;
    right: 0px;
    
}
.big_div{
    margin-left: 137px;
    margin-top: 200px;
    border-style: ridge;
    border-color: black;
    width: 575px;
    position: absolute;
    left: 70px;
}
h5{
    margin-left: 60px;
}
.h55{
    margin-bottom: 40px;
}
.end_class1{
    text-align: left;
    border-style: ridge;
    border-color: black;
    display:flex;
    justify-content: center;
    margin-left: 820px;
    background-color: rgb(51, 50, 48);
    color: white;
    font-family: cursive;
}
.end_div{
    margin-left: 820px;
    border-style: ridge;
    border-color: black;
    font-family: cursive;
}
.div-1{
    display: flex;
    margin:0px 0px 15px 0px
}
.div-2{
    display: flex;
    margin:0px 0px 15px 0px
}
.div-3{
    display: flex;
    margin:0px 0px 15px 0px
}
.div-4{
    display: flex;
    margin:0px 0px 15px 0px
}
.div-1-1{
    width: 40px;
    border-radius: 60%;
}
.div-2-1{
    width: 40px;
    border-radius: 60%;
}
.div-3-1{
    width: 40px;
    border-radius: 60%;
}
.div-4-1{
    width: 40px;
    border-radius:60% ;
}