
.img1{
    width: 80px;
    position: relative;
    top:30px;
    left:60px; 
    border-style: ridge;
    border-color: white;
    border-radius: 60%;
}
.img2{
    width: 10px;
}
.class_img{
    display: flex;
    align-items: center;
    margin: 0px 0px 1px 80px;
}
.img3{
    width: 15px;
}
.carte{
    width: 600px;
    margin: auto;
    font-family: cursive;
    margin-top: 100px;
}
.carte_head{
    background-color: rgb(44, 128, 184);
}
.carte_body{
    padding-top: 30px;
    border-style: ridge;
    border-color: black;
}
h2{
    margin: 1px 10px 1px 60px;
}
h41{
    margin: 0px 0px 1px 60px;
}
h4{
    margin: 0px 0px 1px 60px; 
}
.img3_a{
    margin: 20px 0px 20px 80px;
}