<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button {
            background-color: rgb(0, 197, 0);
            width: 80px;
            height: 40px;
            font-weight: bold;
            color: white;
            margin-top: 30px;
        }
    </style>
</head>

<body>
    <h1>Add User</h1>
    <form action="/user/add" method="post">
        <h3>First Name:</h3>
        <input type="text" name="first_name">
        <h3>Last Name:</h3>
        <input type="text" name="last_name">
        <h3>email:</h3>
        <input type="text" name="email">
        <div><button>Add User</button></div>
    </form>

</body>

</html>