.search{
    color: aqua;
    border-radius: 15px;
    text-align: center;
}
.plus{
    color: white;
    border-radius: 30px;
    display: inline;
background-color: aqua;
}

.create{
    color: wheat;
    background-color: blue;
    box-shadow :0px 0px 10px black; 

}

